<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Fund Allocation Result</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="JorMa" content="AllocResultPage">
        <meta version="1.1" date="2013/7/23">
        
        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="/site_media/css/myStyle.css">
    </head>
    <body>
        <!-- Header -->
        <h2 class="text-center" style="margin: 25px 0;">Fund Allocation System</h2>
        <h3 class="text-center" style="margin: 25px 0;">Fund Allocation Information</h3>    
        <div style="height:1px; background:#ccc; margin: 0 15px;"></div>
        <br />    

        <!-- Show Allocated Result here -->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <!-- reserve for else -->
                </div>
                <div class="span4">
                    <form class="form-horizontal">
                        <div class="control-group"> 
                            <label class="control-label"><strong>Dealer:</strong></label>
                            <div class="controls">
                                <label class="control-label">{{trans.tdealer}}</label>
                            </div>
                        </div>


                    {%  for r in res %}
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label">{{r.cID}}</label>
                            <label class="control-label">{{r.allocaionInformation}}</label>
                        </div>
                    </div>
                    {% endfor %}

                    {% if che %}
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label"><strong>Supervisor:</strong></label>
                            <label class="control-label">{{che.sNmae}}</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label"><strong>Reason:</strong></label>
                            <label class="control-label">{{che.checkInformation}}</label>
                        </div>
                    </div>
                    {% endif%}
                    </form>
                </div>

                <div class="span4">
                    <!-- reserve for else -->
                </div>
            </div>
        </div>
	<!--  ===============================================-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="site_media/js/jquery.js"></script>
    <script type="text/javascript" src="site_media/js/bootstrap.js"></script>
    
	</body>
</html>