<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Login Successfully!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="JorMa" content="LoginPage">
        <meta version="1.1" date="2013/7/22">
        
        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="/site_media/css/myStyle.css">
    </head>
    <body>
        <!-- Header -->
        <h2 class="text-center" style="margin: 25px 0;">Fund Allocation System</h2>
        <!-- Split line -->
        <div style="height:1px; background:#ccc; margin: 0 15px;"></div>
        <br />
        <h3 align="center" id="h3" value="1">
        	<strong>Congratulation</strong>
        	<button type="button">
        		<a href="/supervisorIndex">Confirm</a>
        	</button>
        </h3>        


    <!--  ===============================================-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="site_media/js/jquery.js"></script>
    <script type="text/javascript" src="site_media/js/bootstrap.js"></script>
	</body>
</html>